@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf') format('truetype');
  }
*{
    margin: 0;
    padding: 0;
}

/*estilização do cabeçalho*/

body{
    font-family: 'open Sans', Arial, sans-serif;
}

#mainTopHeader{    
    width: 100%;
    height: 150px;
    background-color: #f1ebebeb;
}

#mainBottomHeader{
    width: 100%;
    height: 150px;
    background-color: #222222;
}

#topHeader {    
    max-width: 1440px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#btnBusca{
    border: 1.5px solid red;
    width: 15%;
    height: 30px;
    margin: 1px 5px;
    border-radius: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #ff5757;
}

#btnBusca:hover{
    background-color: #f1ebebeb;
    color:#ff5757;
}

#txtBusca{
    border-radius: 5px;
    width: 80%;
    height: 30px;
    border: 1.5px solid #ff5757;
}

#campoBusca{
    width: 40%;
    height: 33px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}


#bottomHeader {
    max-width: 1440px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
#bottomHeader a {
    text-decoration: none;
    color: inherit;
}

#btnAcessar{
    height: 60px;
    background-color: #222222;
    border: none;
    font-size: 24px;
    color: #fff;
    font-weight: lighter;
    margin: 5px;
}

#btnAcessar:hover{
    color: #ff5757;
}

#btnCadastrar{
    width: 200px;
    height: 60px;
    background-color: #ff5757;
    border-bottom-left-radius: 50px;
    border: none;
    font-size: 22px;
    color: #fff;
    font-weight: bolder;
    margin-left: 20px;
}

#btnCadastrar:hover{ 
    border: .5px solid #ff5757;
    background-color: #222222;
}

#acessButtons{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#acessButtons img{
    width: 40px;
    height: 50px;
    margin-top: 10px;
}

#mainLogo{
    float: left;
    margin-top: 90px;
    margin-left: 300px;   
    position: relative;
}

#mainLogo img{
    width: 85%;  
    position: relative;
    margin-top: 3%;
}

#circuloLogo{
    width: 180px;
    height: 180px;
    background-color: #222222;
    border-radius: 50%;    
    position: absolute;
}




#linksMenus{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-right: 25%;
    box-sizing: border-box;
}

#linksMenus ul li{
    color: #fff;
    font-size: 25px;
    list-style-type: none;
    display: inline-block;
    justify-content: right;
    padding: 0 2%;
    font-weight: lighter;
}


/*estilização do main conteiner*/

#containerSlide{
    width: 100%;    
    height: 50vh;    
    margin-top: 100px;
    background-color: #545454;
}

#SlideShow{
    max-width: 1440px;
    height: 50vh;
    margin: 0 auto;
}



.selectSlide{
    width: 1440px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.selectSlideButton{
    height: 50px;
    width: 100px;
    border-radius:  0 0 150px 150px;
    background-color: #545454;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    border: 1px solid;
    margin: 0 15px;
}

.textSlide{
    width: 50%;
    height: 50vh;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: center;    
    color: #fff;
}
.textSlide p{
    font-style: italic;
    font-size: 1.3em;
    padding: 8px 1px;
}
.textSlide h1{
    font-size: 3.3em;
    padding: 40px 0;
}
.textSlide h2{
    font-size: 2em;
    font-weight: lighter;
}


